#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blueviolet;
  border-radius: 20px;
}

.contain{
  height: 25rem;
  border-radius: 20px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.textf{

  width: 30rem;
}
.button{
  width: 30rem;
}